<div class="the_title_of_page">История отправленных СМС</div>
<div style="margin: 20px auto 50px">
	<% if @smses.size == 0 %>
		<p style="margin-top: 50px;font-size: 17px;">Вы не имеете истории отправленных сообщений</p>
	<% else %>
		<table align="center" class="table_index">
			<tr>
				<th>Номер телефона</th>
				<th width="350px">Текст сообщения</th>
				<th>Статус</th>
				<th>Время отправки</th>
				<th></th>
			</tr>
			<% @smses.each do |msg| %>
			<tr>
				<td><%= msg.phone_number %></td>
				<td align="justify"><%= msg.message %></td>
				<td><%= msg.status ? "Отправлено" : "Не отправлено" %></td>
				<td><%= msg.created_at.getlocal.to_s[0..-7] %></td>
				<td><%= link_to image_tag("error.png", :size => "20x20", :style => "margin:0;padding:0;"), {:controller => :send_sms, :action => :destroy, :user_id => session[:id], :id => msg.id}, :method => :delete %></td>
			</tr>
			<% end %>
		</table>
	<% end %>
</div>
<p class="info_under_form">Для отправки новой СМС перейдите по <%= link_to "ссылке", :controller => :send_sms, :action => :new %></p>