<div class="the_title_of_page">Отправка SMS</div>
<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
	<div class="error"><%= flash[:error] %></div>
<% end %>
<div class="form_for">
	<%= form_for :sms,:url => {:controller => :send_sms, :action => :create}, :user_id => session[:id] do |f| %>
		<%= f.label "Номер телефона:" %><br />
		<span style="font-size: 12px;background-color: #F3E2A9;">В формате: 38 068 1234567</span>
		<%=f.text_field :phone_number %><br /><br />
		<%= f.label "Сообщение" %><br />
		<span style="font-size: 12px;background-color: #F3E2A9;">Размер сообщения до 240 символов</span>
		<%=f.text_area :message, :size => "26x4", :maxlength => "240" %><br /><br />
		<br /><br />
		<%= f.submit "Отправить"%>
	<% end %>
</div>
<p class="info_under_form">Для просмотра отправленных СМС перейдите по <%= link_to "ссылке", user_send_sms_path %></p>
