<div class="the_title_of_page">Ваши напоминания</div>
<p class="info_under_form" style="font-size: 17px"><%= link_to "Создать напоминание", new_user_reminder_path(session[:id]? session[:id]:0) %></p>
<br />
<% if @reminders.size == 0 %>
	<p>Вы еще не создали ни одного напоминания </p>
<% else %>
	<table align="center" class="table_index">
		<tr>
			<th>Время напоминания</th>
			<th max-width="300px">Сообщение</th>
			<th>Номер телефона</th>
			<th>Статус</th>
			<th></th>
		</tr>
		<% @reminders.each do |rmd| %>
		<tr>
			<td><%= rmd.time_to_send %></td>
			<td align="justify"><%= rmd.message %></td>
			<td><%= rmd.phone_number %></td>
			<td><%= rmd.status ? "Отправлено" : "Не отправлено" %></td>
			<% if check_to_add_link(rmd.time_to_send, rmd.status) %>
			<td><%= link_to image_tag("error.png", :size => "20x20", :style => "margin:0;padding:0;"), user_reminder_path(:user_id => session[:id], :id => rmd.id), :method => :delete %></td>
			<% end %>
		</tr>
		<% end %>
	</table>
<% end %>
