<!DOCTYPE html>
<html>
<head>
  <title>SMS Сервисы</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="background_header"></div>
	<section>
		<header>
			<div style="padding: 5px 30px;float: left;"><%= image_tag("sms.png", :size => "80x80", :style => "margin:0;padding:0;")%></div>
			<span style="font: bold 300%/90px Impact  sans-serif;color: #D8D8D8;">Сервисы</span>
			<div style="text-align: right;float: right;margin: 45px 25px 5px 0px">
				<ul id="menu_header">
					<li><%= link_to "Главная", root_path %></li>
					<% if session[:id] %>
						<li><%= link_to "Выйти", signout_path %></li>
					<% end %>
					<% unless session[:id] %>
						<li><%= link_to "Войти", signin_path %></li>
						<li><%= link_to "Регистрация", new_user_path %></li>
					<% end %>
				</ul>
			</div>
		</header>
		<nav>
			<ul class="menu">
    			<li><a href="#">Home</a></li>
    			<li><a href="#">About us</a></li>
   			 	<li><a href="#">Portfolio</a></li>
    			<li><a href="#">Contact us</a></li>
    			<li><a href="#">FAQ</a></li>
			</ul>
		</nav>
		<div id="content" style="margin: 0 auto;text-align: center;"><%= yield %></div>
		<div id="height_footer"></div>
	</section>
	<footer>
		Footer
	</footer>
</body>
</html>
